@{
    ViewBag.Title = "Haqqımızda";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<p>
    “AtaTexnologiya” MMC 2004-cü ildə “AtaHolding” MMC tərəfindən təsis edilmişdir. İnformasiya və kommunikasiya texnologiyaları sahəsində fəaliyyət göstərən şirkət bu sahədə dünyanın aparıcı şirkətləri ilə əməkdaşlıq etməklə Azərbaycan bazarında uğurla fəaliyyət göstərir.

    Proqram təminatı sahəsində “Enterprise Resource Planning” sistemlərinin yaradılması ilə tanınan şirkət 2005-ci ildən Türkiyənin bu sahədə qabaqcıl şirkətlərindən biri olan “Netsis” A.Ş.-nin distribyutorudur. İri müəssisə və təşkilatların mühasibat, anbar, satış, loqistika, istehsal, insan resurlarının uçotu və.s işlərinin avtomatlaşdırılmasında böyük təcrübəyə malik olan şirkət bir çox uğurlu layihlər həyata keçirmişdir.

    Turizm və otelçilik sahəsində “Excelsior hotel Baku”, “Sheraton”, “Ramada Hotel Baku”, “Ramada Hotel Gəncə”, “Landmark Hotel Baku”, “Hilton Baku”, “Shah Palace”, “Shirvan Hotel”, “Modern Hotel” və.s kimi otellərdəki layihələri ilə “AtaTexnologiya” MMC etibarlı şirkət kimi bazarda tanınmışdır.

    “Netsis” ERP sisteminin iri istehsal və satış müəssisələrinə tətbiqi ilə əlaqədar ciddi layihələr həyata keçirilmişdir. Belə ki, “Bismak” MMC, “Nurgun Group”, “NJT2000”, “BTQ”, “Delta-Group”, “Atropatena” QTSC, “Atena” və.s kimi bir çox iri layihələrə imza atan “AtaTexnologiya” MMC bu gün bazarda xüsusi həlləri olan və etibarlı tərəfdaş kimi sayılır.

    Dünyanın aparıcı şirkətlərindən biri “Microsoft”-un Azərbaycandakı yerli partnyorlarından olan “AtaTexnologiya” MMC proqram təminatı məhsullarının lisenziyalaşdırılması üzrə bir çox iri layihələri həyata keçirmişdir. Belə ki, son 3 ildə lisenziyalaşdırma sahəsində “AtaHolding” MMC, “Azİnterbiznes” MMC, “Sinergy Group” ASC, “AAC” MMC, “Renaissance Construction Azerbaijan”, “Alterf” MMC, “BakıSığorta” ASC, “Modenis” MMC və.s kimi şirkətlərdə layihələr həyata keçirilmişdir.
</p>