@{
    ViewBag.Title = "Bizimlə əlaqə";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    “AtaTexnologiya” MMC<br />
    Ünvan:Süleyman Rüstəm 9, AZ1010, Bakı, Azərbaycan<br />
    <abbr title="Telefon:">T :</abbr>
    +99412(598-99-00)
</address>

<address>
    <strong>Kömək:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>