@{
    ViewBag.Title = "AtaTexnologiya MMC |";
}

<div class="jumbotron">
    <h1>“AtaTexnologiya” MMC</h1>
    <p class="lead">“AtaTexnologiya” MMC - İnformasiya və kommunikasiya texnologiyaları sahəsində fəaliyyət göstərən və bu sahədə dünyanın aparıcı şirkətləri ilə əməkdaşlıq etməklə Azərbaycan bazarında uğurla fəaliyyət göstən bir şirkət.</p>
    <p><a href="http://atatexnologiya.az/" class="btn btn-primary btn-lg">Daha çox öyrən &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Haqqımızda</h2>
        <p>
            “AtaTexnologiya” MMC 2004-cü ildə “AtaHolding” MMC tərəfindən təsis edilmişdir. İnformasiya və kommunikasiya texnologiyaları sahəsində fəaliyyət göstərən şirkət bu sahədə dünyanın aparıcı şirkətləri ilə əməkdaşlıq etməklə Azərbaycan bazarında uğurla fəaliyyət göstərir.

            Proqram təminatı sahəsində “Enterprise Resource Planning” sistemlərinin yaradılması ilə tanınan şirkət 2005-ci ildən Türkiyənin bu sahədə qabaqcıl şirkətlərindən biri olan “Netsis” A.Ş.-nin distribyutorudur.
        </p>
        <p><a class="btn btn-default" href="http://atatexnologiya.az/haqqimizda/">Daha çox öyrən &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>ERP (NETSIS & LOGO)</h2>
        <p>ERP (Enterprise Resource Planning – Müəssisə Resurslarının İdarəolunması) – müxtəlif fəaliyyət sahələri üçün ümumi məlumat və prosess modellərini təmin edən, xüsusi proqram təminatı həllidir ki, onun vasitəsi ilə istənilən müəssisənin maliyyə menecmenti və aktivlərinin idarəolunması, insan resursları və əsas vəsaitlərin idarəolunması, istehsal, satış və digər proses və əməliyyatların optimizasiyasını və inteqrasiyasını tətbiq etmək olur.</p>
        <p><a class="btn btn-default" href="http://atatexnologiya.az/erp/">Daha çox öyrən &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>İnsan resursları</h2>
        <p>
            Şirkətlərin gündəlik fəaliyyətlərinin əsasını təşkil edən bir sıra resurslarla yanaşı İnsan Resurslarını da doğru formalaşdırmaq, dəqiq tətbiq etmək və qarşıya qoyulacaq hədəflərə çatacaq bir şəkildə istiqamətləndirmək vacib addımlardan biridir.

            Hal-hazırda bir sıra şirkətlər dinamik rəqabət şəraitində özlərinə üstünlük təmin edəcək texnoloji vasitələrə və effektiv maliyyə idarəetməsini təmin edə biləcək həlləri asanlıqla əldə edə bilir.
        </p>
        <p><a class="btn btn-default" href="http://atatexnologiya.az/insan-resurslari/">Daha çox öyrən &raquo;</a></p>
    </div>
</div>